In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

In [7]:
col_name=['user_id','item_id','rating','timestamp']
df=pd.read_csv('u.data',sep='\t',names=col_name)

In [8]:
df.head(2)

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949

In [10]:
movie_titles=pd.read_csv('Movie_Id_Titles')

In [11]:
df=pd.merge(df,movie_titles,on='item_id')

In [13]:
df.head(2)

   user_id  item_id  rating  timestamp             title
0        0       50       5  881250949  Star Wars (1977)
1      290       50       5  880473582  Star Wars (1977)

In [14]:
sns.set_style('white')

In [16]:
df.groupby('title')['rating'].mean().sort_values(ascending=False).head()

title
They Made Me a Criminal (1939)                5.0
Marlene Dietrich: Shadow and Light (1996)     5.0
Saint of Fort Washington, The (1993)          5.0
Someone Else's America (1995)                 5.0
Star Kid (1997)                               5.0
Name: rating, dtype: float64

In [18]:
df.groupby('title')['rating'].count().sort_values(ascending=False).head()

title
Star Wars (1977)             584
Contact (1997)               509
Fargo (1996)                 508
Return of the Jedi (1983)    507
Liar Liar (1997)             485
Name: rating, dtype: int64

In [20]:
rating=pd.DataFrame(df.groupby('title')['rating'].mean())
rating.head(2)

                             rating
title
'Til There Was You (1997)  2.333333
1-900 (1994)               2.600000

In [22]:
rating['number']=pd.DataFrame(df.groupby('title')['rating'].count())
rating.head(2)

                             rating  number
title
'Til There Was You (1997)  2.333333       9
1-900 (1994)               2.600000       5

In [23]:
moviemat=df.pivot_table(index='user_id',columns='title',values='rating')

In [24]:
moviemat.head(2)

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN

In [26]:
rating['number'].sort_values(ascending=False).head(10)

title
Star Wars (1977)                 584
Contact (1997)                   509
Fargo (1996)                     508
Return of the Jedi (1983)        507
Liar Liar (1997)                 485
English Patient, The (1996)      481
Scream (1996)                    478
Toy Story (1995)                 452
Air Force One (1997)             431
Independence Day (ID4) (1996)    429
Name: number, dtype: int64

In [29]:
star_rate=moviemat['Star Wars (1977)']
liar_rate=moviemat['Liar Liar (1997)']
star_rate.head()

user_id
0    5.0
1    5.0
2    5.0
3    NaN
4    5.0
Name: Star Wars (1977), dtype: float64

In [30]:
similar_star=moviemat.corrwith(star_rate)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [31]:
similar_liar=moviemat.corrwith(liar_rate)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [40]:
corr_star=pd.DataFrame(similar_star,columns=['correlation'])
corr_star.dropna(inplace=True)
corr_star.sort_values('correlation',ascending=False).head(10)

                                                    correlation
title
Hollow Reed (1996)                                          1.0
Commandments (1997)                                         1.0
Cosi (1996)                                                 1.0
No Escape (1994)                                            1.0
Stripes (1981)                                              1.0
Star Wars (1977)                                            1.0
Man of the Year (1995)                                      1.0
Beans of Egypt, Maine, The (1994)                           1.0
Old Lady Who Walked in the Sea, The (Vieille qu...          1.0
Outlaw, The (1943)                                          1.0

In [41]:
corr_star=corr_star.join(rating['number'])

In [42]:
corr_star.head(4)

                           correlation  number
title
'Til There Was You (1997)     0.872872       9
1-900 (1994)                 -0.645497       5
101 Dalmatians (1996)         0.211132     109
12 Angry Men (1957)           0.184289     125

In [43]:
corr_star[corr_star['number']>100].sort_values('correlation',ascending=False).head(4)

                                 correlation  number
title
Star Wars (1977)                    1.000000     584
Empire Strikes Back, The (1980)     0.748353     368
Return of the Jedi (1983)           0.672556     507
Raiders of the Lost Ark (1981)      0.536117     420

In [46]:
corr_liar=pd.DataFrame(similar_liar,columns=['correlation'])
corr_liar.dropna(inplace=True)
corr_liar.sort_values('correlation',ascending=False).head(10)

                                         correlation
title
Bonheur, Le (1965)                               1.0
For Ever Mozart (1996)                           1.0
Crossfire (1947)                                 1.0
Johnny 100 Pesos (1993)                          1.0
Moonlight and Valentino (1995)                   1.0
Mina Tannenbaum (1994)                           1.0
Stranger, The (1994)                             1.0
Wooden Man's Bride, The (Wu Kui) (1994)          1.0
Legal Deceit (1997)                              1.0
Liar Liar (1997)                                 1.0

In [47]:
corr_liar=corr_liar.join(rating['number'])

In [48]:
corr_liar[corr_liar['number']>100].sort_values('correlation',ascending=False).head(4)

                       correlation  number
title
Liar Liar (1997)          1.000000     485
Batman Forever (1995)     0.516968     114
Mask, The (1994)          0.484650     129
Down Periscope (1996)     0.472681     101